<body class="d-flex flex-column">
    <!-- Header with main bar -->
    <header>
        <shared-navbar id="navbar-main" [title]="title" [github]="github"></shared-navbar>
    </header>
    <!-- Main section -->
    <main>
        <div class="container-fluid">
            <div class="row">
                <!-- Left side menu -->
                <div class="col-md-3 col-lg-2">
                    <shared-sidenav [menus]="menus" id="sidebarMenu"></shared-sidenav>
                </div>
                <!-- Main content -->
                <!-- This is wrapped by the layout -->
                <div class="ms-sm-auto col-md-9 col-lg-10">
                    <section id="main-section" class="container flex-grow-1 py-2">
                        <ng-content></ng-content>
                    </section>
                </div>
            </div>
        </div>
    </main>
</body>