<header class="pb-2 mb-2 border-bottom">
    <h1>{{this.charclass.name}}</h1>
</header>
<dnd5-waiting-wrapper [waiting]="waiting">
    <h2>levels</h2>
    <dnd5-levels [levels]="levels"></dnd5-levels>
    <h2>hit_die</h2>
    <div><span class="fw-bold">hit_die:</span> {{charclass.hit_die}}</div>
    <h2>proficiencies</h2>
    <dnd5-proficiencies [proficiencies]="proficiencies"></dnd5-proficiencies>
    <h2>proficiency choices</h2>
    <dnd5-proficiency-choices [choices]="charclass.proficiency_choices"></dnd5-proficiency-choices>
</dnd5-waiting-wrapper>