<nav aria-label="Page navigation">
    <ul class="pagination pagination-sm">
        <li class="page-item" [class.disabled]="isBackwardDisabled()" [attr.aria-disabled]="isBackwardDisabled()">
            <dnd5-button (click)="onBackward()" [disabled]="isBackwardDisabled()" aria-label="Previous page">
                <fa-icon [icon]="backwardIcon"></fa-icon>
            </dnd5-button>
        </li>
        <li *ngFor="let page of firstHalf" class="page-item" [class.active]="page===current"
            [class.disabled]="isGoToDisabled()" [attr.aria-disabled]="isGoToDisabled()"
            [attr.aria-current]="page === current ? 'page' : ''" aria-current="page">
            <dnd5-button (click)="onGoTo(page)" [disabled]="isGoToDisabled()" aria-label="Go to page">
                {{page}}
            </dnd5-button>
        </li>
        <ng-container *ngIf="isAbleToDrawSecondHalf()">
            <li class="page-item disabled" aria-disabled="true"><span class="page-link">...</span>
            <li *ngFor="let page of secondHalf" [class.active]="page===current" class="page-item"
                [attr.aria-current]="page === current ? 'page' : ''" aria-current="page">
                <dnd5-button (click)="onGoTo(page)" [disabled]="isGoToDisabled()" aria-label="Go to page">
                    {{page}}
                </dnd5-button>
            </li>
        </ng-container>
        <li class="page-item" [class.disabled]="isForwardDisabled()" [attr.aria-disabled]="isForwardDisabled()">
            <dnd5-button (click)="onForward()" [disabled]="isForwardDisabled()" aria-label="Next page">
                <fa-icon [icon]="forwardIcon"></fa-icon>
            </dnd5-button>
        </li>
    </ul>
</nav>