<p-table [value]="rows">
  <ng-template #header>
    <ng-template [ngIf]="spellcaster">
      <tr>
        <th colspan="3" scope="col">
        </th>
        <th *ngIf="spells" colspan="1" scope="col">
        </th>
        <th *ngIf="cantrips" colspan="1" scope="col">
        </th>
        <th colspan="11" scope="col">
          Spell slots
        </th>
      </tr>
    </ng-template>
    <tr>
      <!-- Headers -->
      <th *ngFor="let cell of headers" scope="col">
        {{cell}}
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-row>
    <!-- Rows -->
    <tr>
      <td *ngFor="let cell of row">
        {{cell}}
      </td>
    </tr>
  </ng-template>
</p-table>