<h2>{{charclass.name}}</h2>
<div>hit_die: {{charclass.hit_die}}</div>
<div>sub_classes: {{asNameList(charclass.subclasses).join(', ')}}</div>
<h2>proficiencies</h2>
<div>saving_throws: {{asNameList(charclass.saving_throws).join(', ')}}</div>
<div>proficiencies: {{asNameList(charclass.proficiencies).join(', ')}}</div>
<h3>picks</h3>
<div *ngFor="let choice of charclass.proficiency_choices;let index=index">
  <div>pick {{choice.choose}} of {{asNameList(choice.from).join(', ')}}</div>
  <mat-divider *ngIf="index < (charclass.proficiency_choices.length-1)"></mat-divider>
</div>